.statistics {
	margin-top: 40px;

	display: flex;
	flex-direction: column;
	align-items: center;

	border: 1px solid black;
	border-radius: 7px;
}
.statistics > .title {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	padding-top: 20px;

	text-transform: uppercase;
	font-size: 25px;
	text-decoration-line: underline;
}

.statistics > .stat-list {
	width: 100%;

	margin: 0px;
	padding: 0;
	margin-bottom: auto;

	display: flex;
	justify-content: space-around;

	list-style: none;
}
.stat-list > .item-stat {
	padding: 20px;

	display: flex;
	align-items: center;
	flex-direction: column;

	color: #fff;
}
.item-stat > .label {
	font-size: 16px;
	font-weight: 400;
}
.item-stat > .percentage {
	font-weight: 700;
	font-size: 20px;
}
